*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    background-color: aquamarine;
} */

#app {
    background-color: aqua;
}

header {
    background-color: aqua;
}
.fc {
    text-align: center;
}
main {
    padding: 50px;
}
main >section > div {
    text-align: center;
}
.fc-input{
    padding: 5px 10px;
    text-align: center;
}
.fc-button {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background: burlywood;
    cursor: pointer;
}