*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    background-color: aquamarine;
} */

#app {
    background-color: aqua;
}

header {
    background-color: aqua;
}
.fc {
    text-align: center;
}
main {
    padding: 50px;
}
main> .sec-1 > div { 
    text-align: center;
}
main> .sec-2 > div {
    text-align: center;
    margin-inline: auto;
}
.fc-input{
    padding: 5px 10px;
    text-align: center;
}
.fc-button {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background: burlywood;
    cursor: pointer;
}
#app2 {
    background-color: #c9afaf;
}
.sec-1 {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
}
.sec-2 {
    background: white;
    padding: 30px;
}
.food-container {
    list-style: none;
    text-align: start;
}
.food-item {
    padding: 5px;
    border: 1px solid black;
    margin: 10px;
}