* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div {
    background-color: aquamarine;
} */

#app {
    background-color: aqua;
}

header {
    background-color: #2e641340;
    padding: 20px;
}
.fc {
    text-align: center;
}
main {
    padding: 50px;
}
main > .sec-1 > div {
    text-align: center;
}
main > .sec-2 > div {
    text-align: center;
    margin-inline: auto;
}
.fc-input {
    padding: 5px 10px;
    text-align: center;
    width: 450px;
    border-radius: 10px;
    border: 1px solid #01019f;
    padding-right: 1rem;
}
.fc-button {
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background: #4e536d;
    border: 1px solid #01019f;
    cursor: pointer;
    color: white;
    width: 85px;
}
#app2 {
    background-color: #e3f6ff;
}
.sec-1 {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px rgb(221 221 221);
}
.sec-2 {
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.sec-3 {
    background: white;
    padding: 30px;
    border-radius: 10px;
}
.food-container {
    list-style: none;
    text-align: start;
}
.food-item {
    padding-left: 22px;
    padding-right: 10px;
    border: 1px solid #ba9f9f;
    margin: 10px;
    border-radius: 10px;
    padding-block: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food-item button {
    cursor: pointer;
}
.food-item:hover {
    background-color: lightcyan;
    color: black;
    cursor: pointer;
}
.content {
    max-width: 700px;
    margin-inline: auto;
}
.alert-success {
    padding: 10px;
    background-color: #b4d2b4;
    text-align: center;
    margin-bottom: 5px;
    color: black;
    font-weight: 500;
    border-left: 10px solid green;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancelAlert {
    padding: 2px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.input-padding {
    padding: 5px 10px;
}
.hide {
    width: 0px !important;
    height: 0px !important;
    background-color: rgb(227, 235, 184) !important;
}
.hideblock {
    width: 100%;
    height: 50px;
    background-color: rgb(92, 92, 184);
    transition: all 1s;
}
.active {
    background-color: lightblue;
}
.clear {
    position: absolute;
    top: 6px;
    left: 27rem;
    cursor: pointer;
}
.hide1 {
    display: none !important;
}
.clear .show {
    display: inline;
}

/* for feed back field */

.section-center {
    padding: 1rem;
    width: fit-content;
    margin: auto;
}
.p-1 {
    padding: 1rem;
}
.form-control {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
label {
    margin-left: 1rem;
    text-transform: capitalize;
}
input[type="text"] {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
}
input[type="email"] {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
}
textarea#your-suggestion {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.mx-auto {
    margin: auto;
}